html {
    scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --body-color: #5c4747;
  --page-color: #ffffff;
  --header-color: #000000;
  --header-text: #ffffff;
  --footer-color: #eeeeee;
  --text-color: #000000;
  --link-color: #0000ee;
  --link-visited-color: #551a8b;
  --great-rules: #e2f7e1;
  --table-color: #e2e2e2;
}

/* dark theme support */
@media (prefers-color-scheme: dark) {
  :root {
    --body-color: #101010;
    --page-color: #202020;
    --header-color: #000000;
    --header-text: #ffffff;
    --footer-color: #222222;
    --text-color: #ffffff;
    --link-color: #03add7;
    --link-visited-color: #8c2ee4;
    --great-rules: #189911;
    --table-color: #363636;
  }
}

#logo {
  margin: auto 0;
  height: 60%;
  width: auto;
}

#logo-text {
  margin: auto 0;
  padding-left: 1ch;
  color: var(--header-text);
  font-size: 2rem;
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
}

header {
  background-color: var(--header-color);
  margin: auto;
}

.toolbar-content {
  max-width: 38rem;
  margin: auto;
  height: 56px;
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

main {
  margin: auto auto 30px;
  padding: 30px 100px 30px 100px;
  max-width: 38rem;
  background-color: var(--page-color);
}

@media (max-width: 600px) {
    main { 
        max-width: 600px;
        padding: 20px;
    }
}

section {
  padding: 20px;
}

#welcome {
  padding-bottom: 0;
}

footer {
  margin: auto;
  justify-content: center;
  background-color: var(--footer-color);
}

footer > div {
  padding: 20px;
}

h2 {
  font-size: x-large;
}
h3 {
  font-size: large;
}

ul,
ol {
  margin: auto 1.5rem;
}

a {
  color: var(--link-color)
}

a:visited {
  color: var(--link-visited-color)
}

.figure {
  margin: auto;
  width: 75%;
}

.great-rules {
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--great-rules);
    text-align: center;
}

.discord {
  display: flex;
  gap: 10px;
  margin: 10px auto auto;
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  background-color: #5865f2;
  text-align: center;
  filter: opacity(80%);
  transition: 0.3s;
}

.discord:hover {
  background-color: #5865f2;
  filter: opacity(100%);
}

.discord svg {
  margin: auto;
  position: relative;
  right: 0;
  width: 20px;
  height: 20px;
}

@keyframes wobble  {
  0%  { transform:  rotate(0deg); }
  25%  { transform:  rotate(5deg); }
  50%  { transform:  rotate(0deg); }
  75%  { transform:  rotate(-5deg); }
  100%  { transform:  rotate(0deg); }
}

.discord:hover svg {
  animation: wobble 0.8s linear infinite;
  filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.4));
}

tr:nth-child(2n + 2) {
  background-color: var(--table-color);
}

